body {
    padding: 30px;
    font-family: 'Radio Canada', sans-serif;
}



img {
    width: 150px;
    border-radius: 50%;
    height: 150px;
    object-fit: cover;
}

.crad {
    width: calc((100% - 2 * 1.5rem) / 3);
}

.container {
    width: 90vh;
    background-color: rgb(238, 231, 231);
}

