img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
    box-shadow: 0px 0px 5px gray;

}

.rod {
    border: 1rem solid;
}

.r {
    background-color: green;
}

.col {
    color: rgb(141, 138, 138);
}